{% extends "base.html" %}

{% block root %}{% endblock %}
{% block posts %}active{% endblock %}

{% block body %}

{% if posts|length > 0 %}
	{% for post in posts %}
     <div class="blog-post">
            <h2 class="blog-post-title">{{post.title}}</h2>
            <p class="blog-post-meta">{{ post.date|date("F j, Y, g:i a") }} by <a href="#">{{post.author}}</a></p>
           <p>{{ post.body | truncate(450)}}</p>
    		<a class="readmore" href="../post/{{post.id}}">Read More</a>
      </div>

     {% endfor %}
 {% else %}
	<p>There are no posts yet!</p>
 {% endif %}


{% endblock %}

{% block category %}

		 <ol class="list-unstyled">
              {% for category in categories %}
              <li><a href="../category/{{category.id}}">{{category.name}}</a></li>
              {% endfor %}
          </ol>

 {% endblock %}
